body {margin-left: 0px ;padding: 0px}

/**********************************************1111*********************************************/
.a{background-color:#696969;margin:-20px -9px;position: fixed;width:100% ;padding :5px;}
.one_a{ border:2px solid black ;background:#228b22;padding:10px 12px;width:30px ;margin-left:15px;text-indent:-2px}
.one_a:hover{text-decoration: underline; color:red}

/*********************************************22222*********************************************/

h1{text-indent:70px}
h2{ background-color: black ; color:white;margin:30px 80px ;text-indent: 10px;padding: 5px}
li{text-indent:120PX;font-weight: bold;list-style: none;margin:10px ;text-transform: capitalize;}

/***********************************************3333********************************************/

span{border: 3px solid black;margin-top:20px; padding: 20px ;display: block;width:80px;font-size:20px;font-weight: bold;text-transform: capitalize;left:-100px;}
span:hover{left:0px}
.x{background-color:#20b2aa ;position:fixed;top: 80px}
.y{background-color: #7b68ee;position:fixed;top: 160px}
.z{background-color: #c71585;position:fixed;top: 240px}
.q{background-color: #ff7f50;position:fixed;top: 320px}

/**********************************************44444*********************************************/

.d{width:78%;height:100px;background-image:url("../image/img1.jpg");background-repeat: no-repeat;background-size: 100% 100%;padding:150px;background-attachment: fixed;margin-right: 0px;margin-top: 90px;overflow: hidden;}
.d:hover{height:200px;transition-duration: 1s}
.d:hover:after{content: "This is hover";position: relative;top:200px;background-color:rgba(255, 0, 0, 0.5);padding:20px 800px 20px 10px}
.one_d{background-color:white;width:90%;height:10px ;padding:10px;margin: 10px;overflow: hidden;}
.one_d:hover{height:60px ;transition-duration: 2s}

/***********************************************55555*******************************************/

.e{width:87% ;background-image: url("../image/img.jpg");height:700px;background-attachment: fixed;margin-top: 80px;padding-top: 100px;padding-left: 180px}
.one_e{background-color:rgba(255, 0, 0, 0.5);width: 70%;height: 80%;color:white;}
.two_e{text-indent: 20px}
.one_e h3{background-color: rgba(120,0,200,0.5);text-indent: 20px;width:92%;padding:20px;margin: 10px}
.one_e p{background-color: rgba(0,255,0,0.5);margin: 25px ;padding: 20px}
.one_e p:hover~p{background-color: rgba(784,280,75,0.5);transition-duration: 0.5s}
/*********************************************66666*********************************************/
.f{ background-image: url("../image/img2.jpg");background-repeat: no-repeat;height: 100px;padding: 100px;margin-top:70px;background-size: 100%;background-attachment: fixed;margin-bottom: 300px}
.one_f{background-color:rgba(255, 50, 120, 0.5);padding: 20px;color: white;text-transform: capitalize;}
.one_f:first-letter{font-size: 50px;color: black;background-color: #20b2aa;display: block;margin: 5px;padding: 2px 10px;border-radius: 60px}
.one_f:first-line{background-color: tan ;background-size: 80px;margin-left: 10px}
