body{margin: 0px;background-color: #C7C6D3;}
nav{
  width: 100%;
  height: 60px;
  background-color: #ddd;
  position: fixed;
  margin-top: -100px
  }
p{
  display: inline-block;
  margin-top:17px;
  margin-left: 15px;
  font-weight: bold;
}
.a:hover{
  margin-top: 5px;
  margin-left: 10px;
  background-color:#1e90ff;
  padding: 15px;
  transition: 1s;
}
.b:hover{
  margin-top: 5px;
  margin-left: 10px;
  background-color:#1e90ff;
  padding: 15px;
  transition: 1s;
}
.c:hover{
  margin-top: 5px;
  margin-left: 10px;
  background-color:#1e90ff;
  padding: 15px;
  transition: 1s;
}
.d{
  margin-left: 870px;
  height: 35px
}
.e{
  padding: 7px;
  margin-left: 5px
}
/************************************************************************************/
article{background-image: url("../img/img.jpeg");
width: 100%;
height: 250px;
background-repeat: no-repeat;
background-size: 100%
;margin-top: 100px;
padding-top: 193px
}

.big{background-color: #A6A8AD;
  width:60%;
  height: 150px;
  margin-left: 300px;
  padding-top: 20px;
  box-shadow: 10px 10px 45px 2px rgb(84, 67, 161) ,
             -10px -10px 45px 2px rgb(84, 67, 161)
}
.small{background-color: #ddd;
  width:80%;
  height: 50px;
  margin-left: 80px;
  border:1px solid black;
  box-shadow: 10px 10px 45px 2px rgb(168, 168, 168) inset,
             -10px -10px 45px 2px rgb(168, 168, 168)  inset
}
.article{padding-left: 120px}
section{
  width:70px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 350px;
  margin-top: 15px;
  box-shadow: 20px 20px rgb(130, 130, 148) inset,
             -20px -20px rgb(150, 150, 174) inset
}
/************************************************************************/
figure{
  background-image: url("../img/img2.jpeg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  margin-top: 20px;
  background-size: 100%;
  margin-left: 0px;
  overflow: hidden;
}
.img{
  margin-top: 460px;
  margin-left: 520px;
  border-radius: 50%;
}
.img:hover{
  transform: rotate(180deg) scale(1.5);
  transition: 1s;
}
/************************************************************************/
.end{
  background-image: url("../img/img4.jpeg");
  background-size: 100%;
  height: 700px;
  background-repeat: no-repeat;
  overflow: hidden;
  perspective: 600px
}
.imggg{
  width: 200px;
  height: 200px;
  margin-top: 100px;
}
.imggg:hover{
   transform:scale(1.5) translate3d(400px,100px,100px) ;
   transition: 1s;
}
/********************************************************************/
footer{
  background-color: black;
  height: 100px ;
  width: 100%;
  margin-top: 10px
}
.footer{
  color:white;
  margin-top:50px;
  margin-left:550px;
}
