body{margin: 0px;}
/******************************/
header{background-color: black;height: 60px ;width: 100%;position: fixed;top:-1;}/** style header**/
 /******************************/
article{background-image: url("../img/img2.jpg");padding: 150px 100px 50px ;margin-top: 100px;margin-left: 40px;background-repeat:no-repeat;background-size:98%;;height: 300px;background-attachment: fixed;}
/**************** first section**************/
article .a{background-color:rgba(207, 14, 14, 0.3);width: 1000px;padding: 5px;text-indent: 35px}
.a time:hover{background: rgba(241, 241, 247, 0.3);transition-duration: 2s}
/**************** second section***************/
article .b{padding: 20px ;font-style: italic;font-weight: bold;width: 970px}
article .b:hover{background-color:rgba(239, 233, 233, 0.3);transition-duration: 1s }

/******************style span ****************************/
span{display: block;text-transform: capitalize;left:-100px;font-weight: bold;font-style: oblique;}
.c{background: plum ;padding:20px ;width: 80px;text-align: center;border-radius: 15px;border: 1px solid black;position: fixed;top:90px}
.d{background: purple ;padding:20px ;width: 80px;text-align: center;border-radius: 15px;border: 1px solid black;position: fixed;top:155px}
.e{background: skyblue ;padding:20px ;width: 80px;text-align: center;border-radius: 15px;border: 1px solid black;position: fixed;top:220px}
.f{background: salmon;padding:20px ;width: 80px;text-align: center;border-radius: 15px;border: 1px solid black;position: fixed;top:285px}
span:hover{left:0px;transition-duration: 1s}

/******************** article 2*************************/
.g{background-image: url("../img/img3.jpg");height: 50px;padding-top: 30px}
input{width: 90%;background-color:rgba(3, 69, 239, 0.3);padding: 20px}
datalist{background-color:rgba(3, 69, 239, 0.3);border: 2px groove bule}

/*******************article 3************************/
.h{background-image: url("../img/img4.jpg");}
.one_h{background-color:rgba(85, 135, 224, 0.6);width: 900px;height: 200px ;text-indent: 20px;padding-top: 20px;font-style: italic; font-weight: bold;}
meter{border-radius: 15px}

/*******************article 4*************************/
.i{background-image: url("../img/img5.png");height: 50px;margin-bottom: 50px;padding-top: 10px;text-align: center;}
.one_i{margin-top: 30px;font-size: 30px;font-style: italic;}
